<h4>What's on your mind : </h4>
<dd>
  <form>
    <p>
      <input id="text" placeholder="Tell others something ..." type="text">
    </p>
    <input type="submit" id="submit" value="Share">
  </form>
</dd>