<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="js/socket.io.js"></script>
</head>
  <body>
   <link rel="stylesheet" href="css/index.css" >
        <div id="container">
            <% if (errors) { %>
                <% errors.forEach(function(error) { %>
                        <div class="alert alert-info">
                                <strong>Error ! </strong><%=error.msg%>   
                        </div>
                <% }); %>
            <%}%>

            
            <% if (success) { %>
                        <div class="alert alert-success">
                                <strong>Success ! </strong><%=success%>   
                        </div>
            <% }; %>

                
            <% if (title == "Login") { %>
                    <%- include login.ejs %>
             
            <%}%>


            <% if (title == "regester") { %>
                <% include regester %>
            
            <%}%>
               
        </div>

        <% if (title == "home") { %>
            <% include home %>
        
        <%}%>
        <div id="footer">
                <p>Copyright &copy; MyChhat. Devloped by <a href="#"><strong>Taoufik AJAANIT</strong></a></p>
         </div>
  </body>
</html>