<div id="chat-sidebar">
    <a href="/users/logout">
        <strang>
            <button class="btn btn-info" id="btn">
                <strong>SignOut </strong>
        </strang>
        </button>
        </strang>
    </a>
    <div class="alert alert-info ">
        <strong>Fiends Online</strong>
    </div>
    <div id="online">

    </div>


</div>