<div id="container">
        <!-- Default form register -->
        <form class="text-center border border-light p-5" method="POST" action="/regester">
            
            <p class="h4 mb-4">Sign up</p>
        
            <div class="form-row mb-4">
                <div class="col">
                    <!-- First name -->
                    <input type="text" name="firstname" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                    <!-- Last name -->
                    <input type="text" name="lastname" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                </div>
            </div>
        
            <!-- E-mail -->
            <input type="email" name="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
        
            <!-- Password -->
            <input type="password" name="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
            <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            </small>
            <!--Confirme  Password -->
            <input type="password" name="password2" id="defaultRegisterFormPassword" class="form-control" placeholder="Confirme Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
            <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            </small>
            <!-- Sign up button -->
            <button class="btn btn-info my-4 btn-block" type="submit">Regester</button>
            <p>
                    <a href="/">Sign in</a>
            </p>
            <hr>
        
        </form>
         <!-- Default form register -->
</div>