#container {
    width : 20cm ;
    margin-left: auto ;
    margin-right : auto;
    margin-top: 1cm ;
    margin-bottom: auto
    

}
body {
    color:white;
    background-color:white;
    background-image:url("../photos/images.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100% 100%;
    }