/**** Chat Popup Layout******/
.msg_box{
	position:fixed;
	bottom:-5px;
	width:250px;
	background:white;
	border-radius:5px 5px 0px 0px;
}


.msg_head{	
	background:rgb(41, 40, 48);
	color:white;
	padding:8px;
	font-weight:bold;
	cursor:pointer;
	border-radius:5px 5px 0px 0px;
}

.msg_body{
	background:rgb(214, 216, 221);
	height:200px;
	font-size:12px;
	padding:15px;
	overflow:auto;
	overflow-x: hidden;
}
.msg{
	height:150px;
	font-size:12px;
	padding:12px;
	overflow:auto;
	overflow-x: hidden;
}
.msg_input{
	width:100%;
	height: 55px;
	border: 1px solid white;
	border-top:1px solid #DDDDDD;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;  
}

.close{
	float:right;
	cursor:pointer;
}
.minimize{
	float:right;
	cursor:pointer;
	padding-right:5px;
	
}

.msg-left{
	position:relative;
	background:#625ad4;
	padding:5px;
	min-height:10px;
	margin-bottom:5px;
	margin-right:10px;
	border-radius:5px;
	word-break: break-all;
}



p.feedback{
    color: rgb(114, 51, 51);
    padding: 14px 0px;
	margin: 0 20px;
	font-weight: 900;
}

.msg-right{
	background:#dd6969;
	padding:5px;
	min-height:15px;
	margin-bottom:5px;
	position:relative;
	margin-left:10px;
	border-radius:5px;
	word-break: break-all;
}
/**** Slider Layout Popup *********/

 #chat-sidebar {
     width: 17%;
     height: 100%;
     right: 0px;
     top: 0px;
     padding-top: 10px;
     padding-bottom: 10px;
	 border: 1px solid #b2b2b2;
	 min-width: 200px;
	 position: fixed ;
	 float: right

}
 #sidebar-user-box {
     padding: 4px;
     margin-bottom: 4px;
     font-size: 15px;
     font-family: Calibri;
     font-weight:bold;
     cursor:pointer;
}
 #sidebar-user-box:hover {
     background-color:#999999 ;
}
 #sidebar-user-box:after {
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
}
 img{
     width:35px;
     height:35px;
     border-radius:50%;
     float:left;
}
 #slider-username{
     float:left;
     line-height:30px;
     margin-left:5px;
}


em { font-style: italic; }




dd { margin: 0; padding: 2px 0 5px; margin-bottom: 5px; border-bottom: 1px dotted #555555; }

h4{
/* position: fixed ; */
color: #6D7781 ;
font-family: 'Sofia', cursive ; 
width: 80% ;
text-align: center

}


input#submit
{
    background: #7799bb ;
border: 0 ; 
width: 80%;
height: 40px ; 
border-radius: 3px ; 
color: #fff ; 
font-size: 12px ; 
cursor: pointer ; 
opacity: 0.5
}

button:hover {
    background: #06407a ; 
animation-name: shake
}

input#text{
	position: relative;
    width: 80%; 
padding: 30px 0px ; 
background-color: transparent ;
border: 0 ; 
border-bottom: 1px solid #727e8b ; 	
color: rgb(141, 166, 190) ; 
font-size: 16px ; 
}


.actualite{
	position: fixed ; 
	overflow: visible;
	width: 60%;
	top: 100px;
	overflow:visible;
	overflow-x: hidden;
	height: 400px;

}


/* Header */

.header {
	position: fixed;
	width: 60%;
	top: 30px;
	margin-bottom: 30px ;
	margin-left: 6%
	
}


.header h2 {
	text-align: right;
	letter-spacing: normal;
	font-size: 1em;
	color: rgb(146, 180, 214) ;
	font-family: 'Sofia', cursive ; 
	text-align: center ;
	text-transform: uppercase; 
	width: 60%;
	text-align: center ;
	font-size: 30px ; 	
	
}







